            .navbar{
                
                height: 100px;
                

            }

            #shape {
                
                width:200px;
                height:200px;
                background-color: green;
                border: 1px solid blue;
                display: none;
                position: relative;
            }
            .bold {
                font-weight: bold;
                color:red;
            }

            #Logo {
                
                width: 310px;
                position: relative;
                top:-30px;
                
                
            }
            .navbar a {
                
                margin-left: 100px;
                margin-top: 30px;
                
            }

            #contact {

                position: relative;
                top: 40px;
                
            }

            #largerText {
                
                font-size: 20px;

            }
   
            #profile {
                position: relative;
                top: -20px;
                font-size: 20px
            }
            img {
                
                width: 35px;
                margin-bottom: 50px;
                

            }

            #github {
                
                width: 89px;

            }
            

            

            .sidenav {
                height: 100%;
                width: 0;
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
                background-color: #111;
                overflow-x: hidden;
                transition: 0.5s;
                padding-top: 40px;
            }

            .sidenav a {
                padding: 8px px 0px 32px;
                text-decoration: none;
                color: #818187;
                display: block;
                transition: 0.5s;
                
            }

            .sidenav a:hover {
                color: #FFFFFF;
            }

            .sidenav .closebtn {
                position: absolute;
                top: -49px;
                right: 2px;
                font-size: 49px;
                margin-left: 10px;
            }

            #main {
                transition: margin-left .5s;
                padding: 15px;
            }

            @media screen and (max-height: 450px) {
              .sidenav {padding-top: 15px;}
              .sidenav a {font-size: 18px;}
            }

            #game-console {
                border: 1px solid blue;
                height: 550px;
                

            }
            container-fluid {
                
                border: 1px solid blue;

            }
            #instruction {
                
                position: absolute;
                top: 450px;
                left: 35%;
                border: none;
                text-decoration: none;
                display: inline-block;
                width: 500px;
                height: 50px;
                text-align: center;
                border-radius: 50px;
                background-color: aqua;
                color:fuchsia;
                font-size: 20px;
            }

            p {
                
                font-size: 35px;
                position: relative;
                top: 50px;
                margin-left: 70px;

            }

            #gameConsole {
                
                font-size: 30px;
                color: orangered;
                font-family:cursive;
                font-weight: bolder;
                text-decoration: none;
                display: block;
                position: relative;
                left: 1000px;
                top: -400px;

            }

            #gameConsole:hover {
                
                text-decoration:underline;
                color: blueviolet;
                text-decoration-color: royalblue;
                text-decoration-style:wavy;
                

            }

            #testyourreactions {
                
                margin-left: 10px;
                margin-bottom: -55px;
                position: relative;
                top: -1px;

            }

            #time {
                
                font-size: 15px;
                margin-left: 15px;

            }

            canvas {
                
                border: 1px solid #d3d3d3;
                margin-top: 40px;
                width: 1364px;
                height: 529px;

            }
        
