#shape {

    width:200px;
    height:200px;
    background-color: green;
    border: 1px solid blue;
    display: none;
    position: relative;
}
.bold {
    font-weight: bold;
    color:red;
}
button {
    text-align: center; 
    width: 150px; 
    border-radius: 10px;
    border:none;
}